:is(.btn, .btn-sm){
    border-radius: var(--radius-400);
    font-weight: 700;
}
.btn{
    font-size: 1.6rem;
    padding: 1.3rem 2.6rem;
    &-primary{
        color: var(--clr-neutral-0);
        background-color: var(--clr-primary);
        border-color: var(--clr-primary);
        &:hover,&:focus-within,&:focus-visible,&:active{
            color: var(--clr-neutral-0) !important;
            background-color: var(--clr-primary) !important;
            border-color: var(--clr-primary)!important;
        }
    }
    &-outline-primary{
        color: var(--clr-primary);
        border-color: var(--clr-primary);
        &:hover,&:focus-within,&:focus-visible,&:active{
            color: var(--clr-neutral-0) !important;
            background-color: var(--clr-primary) !important;
            border-color: var(--clr-primary)!important;
        }
    }
    &-light,&-light:hover{
        color: var(--clr-primary);
    }
    &:focus-visible{
        box-shadow:rgba(107, 96, 230, 0.5) 0px 0px 0px 2.5px !important;
    }
    &-sm{
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }
}

.mode-switch{
    label{
        height: 3.4rem;
        width: 3.4rem;
        border-radius: 50%;
        background-color: var(--card-bg);
        color: var(--clr-text);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        .ti{
            position: absolute;
            display: inline-block;
            left: 50%;
            top: 50%;
            translate: -50%  -50%;
            font-size:1.6rem; 
        }
    }
}
.dark-mode{
    .mode-switch{
        #moonIcon{
           visibility: hidden;
        }
    }
    .btn-outline-primary{
        color: var(--clr-neutral-0);
        border-color: var(--clr-neutral-0);
    }
}
body:not(.dark-mode){
    .mode-switch{
        #sunIcon{
           visibility: hidden;
        }
    }
}