/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*reset font sizes of all tags*/
*{
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-display: swap;
  &:focus-visible{
    outline:1px solid var(--clr-text);
  }
}

/* reset font size 1rem to 10px */
html{
	font-size: 62.5%;
  scroll-padding-top:8rem;
}

body,html{
	height: 100%;
}

/* remove default margin */
body,h1,h2,h3,h4,h5,h6,p,figure,blockquote,dl,dd {
  margin: 0;
}

/* remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

/* set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set core body defaults */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  line-height: 1.5;
}

/* a elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make images easier to work with */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* avoid text overflows */
p, span, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
}
/* remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}