/* =============== VARIABLES ===============  */
:root{
    --clr-primary-400: #6B60E6;
    --clr-rgb-primary-400:107,96,230;

    --clr-secondary-400: #E362E1;
    --clr-rgb-secondary-400:227,98,225;

    --clr-success-400: #27B24D;
    --clr-rgb-success-400: 39,178, 77;

    --clr-warning-400: #F48244;
    --clr-rgb-warning-400: 244,130, 68;

    --clr-neutral-0: #ffffff;
    --clr-neutral-100: #fafafa;
    --clr-neutral-200: #DCDBE7;
    --clr-neutral-700: #333333;
    --clr-neutral-800: #23222c;
    --clr-neutral-900: #0a0914;

    // light mode variables
    --clr-primary:var(--clr-primary-400);
    --clr-bg: var(--clr-neutral-0);
    --clr-text: var(--clr-neutral-700);
    --card-bg: var(--clr-neutral-200);
    --card-border:var(--clr-neutral-200);
    --clr-body-txt:rgba(51,51,51,0.75);

    --shadow-400: 0 0 1.5rem rgba(51,51,51,0.1);
    --drop-shadow-400: drop-shadow(0.5rem 1rem 1rem rgba(0,0,0,0.2));
    // border radius 
    --radius-400:1.2rem;
    
    .is-dark{display: none;}

    --ff-primary: "Nunito", sans-serif;
}
body.dark-mode {
    --clr-primary:var(--clr-primary-400);
    --clr-bg: var(--clr-neutral-900);
    --clr-text: var(--clr-neutral-100);
    --card-bg: var(--clr-neutral-800);
    --card-border: var(--clr-neutral-800);
    --clr-body-txt:rgba(255,255,255,0.75);

    --shadow-400: 0 0 1.5rem rgba(255,255,255,0.1);
    --drop-shadow-400:drop-shadow(0.5rem 1rem 1rem rgba(255,255,255,0.1));

    .is-light{display: none;}
    .is-dark{display: inline-block;}
}